<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="../style/loginstyle.css">

		<title>Document</title>
	</head>
	<body>
		<main>
			<div class="form">
				<form action="/modifier/{{idEmployee}}" method="POST" enctype="multipart/form-data" class='login-form'>
					<input type="text" placeholder="Nom" name="nom" required>
					<input type="text" placeholder="fonction" name="fonction" required>
					<input type="text" placeholder="Nombre Blame" name="blame" required>
					<button type="submit">Envoyer</button>
				</form>
			</div>
		</main>


	</body>
</html>
